
nav > ul>li>a{
    text-decoration: none;
    color: black;
    padding: 130px 190px;
    

}

nav >ul{
    list-style-type: none;
    display: flex;
    margin-left: 0px;
    margin: 0px;
    padding: 0px;
    /* justify-content: space-between; */
    background-color: cadetblue;
    height: 35px;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: green solid 5px;
    border-bottom: red solid 5px;
    
}

/* nav a:hover{
    background-color: darkgreen;
    
} */

@media (max-width:100%){
    .showli{
        display: none;
        flex-direction: column;

    }
    .showdivs{
        cursor: pointer;
        display: block;
    }
}